* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}

header {
  text-align: center;
}
header .main_nav {
  margin: 15px 0;
}
header .main_nav ul {
  list-style-type: none;
}
header .main_nav ul li {
  display: inline-block;
}
header .main_nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #002d75;
  padding: 10px 20px;
}
header .main_nav ul li a:hover {
  background-color: #b3e5fc;
  color: #444;
}

.container {
  height: 800px;
  background-image: url("../images/molisana-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
}
.products_container .box_pasta {
  display: flex;
  width: calc(100% / 3);
  position: relative;
}
.products_container .box_pasta:hover .overlay {
  opacity: 1;
}
.products_container .box_pasta:hover .overlay i {
  -webkit-animation: marMove 0.3s linear forwards;
          animation: marMove 0.3s linear forwards;
  cursor: pointer;
}
@-webkit-keyframes marMove {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 30px;
  }
}
@keyframes marMove {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 30px;
  }
}
.products_container .box_pasta img {
  width: 100%;
}
.products_container .box_pasta .overlay {
  position: absolute;
  color: #fff;
  background-color: #002d75c0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
.products_container .box_pasta .overlay i {
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 15px;
  font-size: 2em;
  margin-bottom: 50px;
}
.products_container .box_pasta .overlay a {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

.news_container {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.news_container .news_box {
  width: calc(100% / 3);
  display: flex;
}
.news_container .news_box:hover .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}
.news_container .news_box img {
  width: 100%;
}
.news_container .news_box .overlay {
  width: calc(100% / 3);
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s linear;
}
.news_container .news_box .overlay p {
  font-size: 1.8em;
}
.news_container .news_box .overlay .divider {
  width: 50px;
  height: 2px;
  background: #fff;
}
.news_container .news_box .overlay h3 {
  font-size: 2em;
}
.news_container .news_box .overlay .btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}
.news_container .news_box .overlay .btn:hover {
  background-color: #002d75;
  border: 2px solid #002d75;
}

footer .footer_logo {
  text-align: center;
}
footer > img {
  width: 100%;
}