header {
    text-align: center;

    .main_nav {
        margin: 15px 0;

        ul {
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 300;
                    color: $menu-color;
                    padding: 10px 20px;

                    &:hover,
                    &.active {
                        background-color: $menu-bgcol;
                        color: #444;
                    }
                }
            }
        }
    }
}
